<% unless f.object.subquestion %>
<div class="form-group">
  <%= f.label :intern_name %>
  <%= f.text_field :intern_name, placeholder: 'Der Interne Name der Frage', class: 'form-control' %>
</div>
<% end %>

<%= f.hidden_field :subquestion %>
<%= f.hidden_field :meta_question %>

<% unless f.object.meta_question %>

<div class="form-group">
  <%= f.label :difficulty %>
  <%= f.select :difficulty, options_for_select([['Einfach', 30], ['Mittel', 60], ['Schwer', 90]], f.object.difficulty.to_i),{include_blank: "Schwierigkeit auswählen"}, class: 'form-control' %>
</div>

<% end %>
<% unless f.object.category.present? && f.object.category.template=='instill' %>

<% unless f.object.subquestion %>
Beschreibung
<% else %>
Frage
<% end %>

<div class="form-group">
  <%= f.cktext_area :body,cols: 40, ckeditor: { toolbar: 'mini' } %>
</div>
<% end %>

<% unless f.object.subquestion %>
<%= f.hidden_field :category_id %>

<%= f.check_box :has_solution %>
<%= f.label :solution, 'Musterlösung' %><br/>
<div style="display: <%= f.object.has_solution ? 'block' : 'none' %>" id="solution_wrapper">
<%= f.cktext_area :solution,cols: 40, ckeditor: { toolbar: 'mini', readOnly: !f.object.has_solution} %>
</div>

<br />
<%= f.check_box :has_source %>
<%= f.label :source, 'Quellenangaben' %><br/>
<div style="display: <%= f.object.has_source ? 'block' : 'none' %>" id="source_wrapper">
<%= f.cktext_area :source,cols: 40, ckeditor: { toolbar: 'mini', readOnly: !f.object.has_source} %>
</div>




<% content_for :js do %>
<script type="text/javascript">
  $(document).ready(function () {

    $('#question_has_solution').change(function () {
      if($(this).is(":checked")){
        $('#solution_wrapper').show();
      }else{
        $('#solution_wrapper').hide();
      }
      CKEDITOR.instances.question_solution.setReadOnly(!$(this).is(":checked"));
    });

    $('#question_has_source').change(function () {
      if($(this).is(":checked")){
        $('#source_wrapper').show();
      }else{
        $('#source_wrapper').hide();
      }
      CKEDITOR.instances.question_source.setReadOnly(!$(this).is(":checked"));
    });

  });
</script>

<% end %>
<% end %>

<% unless f.object.meta_question %>



<% if f.object.category.present? && (f.object.category.template=='figures' || f.object.category.template=='instill') %>

  <%= f.hidden_field :has_image %>
  <%= f.label :reference_image, 'Referenz Bild' %>
  <%= f.file_field :reference_image %> <br />
  <%= f.hidden_field :reference_image_cache %>
  <%= image_tag(f.object.reference_image_url, style: 'width: 120px') if f.object.reference_image? %>

  <%= f.hidden_field :has_perspective %>
  <% if f.object.category.template=='figures' %>
    <%= f.label :perspective_image, 'Perspektiv Bild' %>
  <% else %>
    <%= f.label :perspective_image, 'Unausgefült' %>
  <% end %>

  <%= f.file_field :perspective_image %> <br />
  <%= image_tag(f.object.perspective_image_url, style: 'width: 120px') if f.object.perspective_image? %>

  <%= f.hidden_field :perspective_image_cache %>

  <%= f.fields_for :answers do |a| %>
    <%= a.check_box :correct_answer %>
    <%= a.hidden_field :body %>
    <%= a.object.body %>
  <% end %>

<% elsif f.object.category.present? && f.object.category.template=='intent' %>

  <%= f.hidden_field :has_downloadable %>
  <%= f.label :downloadable, 'Download' %>
  <%= f.file_field :download %> <br />

<% else %>

  <strong>Antwort</strong>
  <div class="answers">
    <%= f.fields_for :answers %>
    <p style="text-align: right"><%= f.link_to_add "Antwort hinzufügen", :answers , class:'btn btn-default btn-sm'%></p>
  </div>

<% end %>




<% else %>
<div class="answers">

  Unterfragen

  <%= f.fields_for :questions %>
  <p style="text-align: right"><%= f.link_to_add "Frage hinzufügen", :questions , class:'btn btn-default btn-sm'%></p>
</div>
<% end %>
