<table class="table">
  <tr>
    <th>Interner Name</th>
    <th>Anzahl der Antworten</th>
    <th>Musterlösung vorhanden</th>
    <th>Author</th>
    <th>Veröffentlicht</th>
    <th>Veröffentlicht von</th>
  </tr>
  <tr>
    <td><%= question.try(:intern_name) %></td>
    <td><%= question.answers.count %></td>
    <td><%= question.has_solution ? 'Ja' : 'Nein'%></td>
    <td><%  question.activities.first.owner.name %></td>
    <td><%= question.published ? 'Ja' : 'Nein'%></td>
    <td><%= question.published ? 'Ja' : 'Nein'%></td>
  </tr>
</table>


<div class="description">
  <h1>Frage</h1>
  <%= raw question.body %>
</div>

<% if question.has_solution %>
  <div class="description">
    <h1>Muserlösung</h1>
    <%= raw question.solution %>
  </div>
<% end %>


<% if question.has_source %>
  <div class="description">
    <h1>Quellenangaben</h1>
    <%= raw question.source %>
  </div>
<% end %>

<% c=0;for answer in question.answers %>
<h3>Antwort Nr. <%= c+1 %></h3>
<% c+=1 %>
<table class="table">
  <tr>
    <th>Korrekte Antwort</th>
    <td><%= answer.correct_answer ? 'Ja' : 'Nein' %></td>
  </tr>
  <tr>
    <th>Inhalt</th>
    <td><%=raw  answer.body %></td>
  </tr>
</table>
<% end %>
