<% content_for :content_header do %>
<section class="content-header">
  <h1>
    Frage Bearbeiten
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_root_path do %>
      <i class="fa fa-dashboard"></i>
      Home - Dashboard
      <% end %>
    </li>
    <li class="active">
      <%= link_to new_admin_question_path  do %>
      <i class="fa fa-question"></i>
      <span>    Frage Bearbeiten</span>
      <% end %>
    </li>
  </ol>
</section>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Neue Frage</h3>

      </div>


      <%= link_to 'Zurück', admin_question_path(@question) %>

      <div class="box-body">

        <%= nested_form_for [:admin, @question] do |f| %>

        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

          <% if @question.errors.any? %>
          <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h4>
                <i class="icon fa fa-ban"></i>
                Fehler!</h4>
              <ul>
                <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>

        <div class="answers">
          <%= f.submit 'Speichern', class:'btn btn-default btn-sm' %>
        </div>

          <%= render 'form', f: f %>

          <div class="answers">
            <%= f.submit 'Speichern', class:'btn btn-default btn-sm' %>
          </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
