<% content_for :content_header do %>
<section class="content-header">
  <h1>
    Fragen Übersicht
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_root_path do %>
      <i class="fa fa-dashboard"></i>
      Home - Dashboard
      <% end %>
    </li>
    <li class="active">
      <%= link_to admin_questions_path  do %>
      <i class="fa fa-question"></i>
      <span>Fragen</span>
      <% end %>
    </li>
  </ol>
</section>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Alle Fragen</h3>

        <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Neue Seite erstellen">
          <a class="btn btn-default btn-sm" title='Neue Seite erstellen' id='question_modal_button' data-toggle="modal" data-target="#open-modal">
            Neue Frage erstellen
          </a>

        </div>

      </div>

      <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
          <%= render 'admin/shared/box_header' %>
          <div class="row">
            <div class="col-sm-12">
              <table class="table">
                <tr>
                  <th>ID</th>
                  <th>Kategorie</th>
                  <th>Schwierigkeit</th>
                  <th>Interne Name</th>
                  <th>Autor / Erstellungsdatum</th>
                  <th>Lektor / Freigabe</th>
                  <th>Status</th>
                  <th>Bewertung</th>
                  <th>Anzahl der Aufrufe</th>
                  <th>Fehermeldungen und Kommentare</th>
                  <th>Aktionen</th>
                </tr>
                <% for question in @questions %>
                <tr>
                  <td><%= question.id %></td>
                  <td><%= question.category.full_name if question.category.present? %></td>
                  <td><%= question.calculated_difficulty %></td>
                  <td><%= question.intern_name %> </td>
                  <td><%= question.owner %>/<br /> <%=l question.created_at  %></td>
                  <td><%= "TODO" %></td>
                  <td><%= question.status %></td>
                  <td><%= "TODO" %></td>
                  <td><%= "TODO" %></td>
                  <td><%= "TODO" %></td>

                  <td><%= link_to 'Details zeigen', admin_question_path(question), class: 'btn btn-default btn-sm' %> <br /><br />
                    <%= link_to 'Bearbeiten', edit_admin_question_path(question), class: 'btn btn-default btn-sm' %>
                  </tr>
                  <% end %>

                </table>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
              </div>
              <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                  <%= paginate @questions if @questions.any? %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% content_for :modal do %>
  <div class="modal" id="open-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Neue Frage erstellen</h4>
        </div>
        <div class="modal-body">
          <form action="/admin/questions/new" method="get" class="form" id="new_form">
            <label>Die Kategorie auswählen, die richtige Vorlage wird erstellt.</label>
            <select name="category_id" class="form-control" id="category_id" required="">
              <option value="none">Bitte Kategorie Auswählen</option>
              <% Question.category_leafs.each do |cat| %>
              <option value="<%=cat[1] %>"><%= cat[0]%></option>
              <% end %>

            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schliesen</button>
          <button type="button" class="btn btn-primary" id="create_new">Neu erstellen</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <% end %>

  <% content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function () {

      $('#create_new').click(function () {
        $('#new_form').submit();
      });
    });
  </script>
  <% end %>
