<% content_for :content_header do %>
<section class="content-header">
  <h1>
    Details Fragen
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_root_path do %>
      <i class="fa fa-dashboard"></i>
      Home - Dashboard
      <% end %>
    </li>
    <li class="active">
      <%= link_to admin_layouts_path  do %>
      <i class="fa fa-edit"></i>
      <span>Fragen</span>
      <% end %>
    </li>
  </ol>
</section>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">

        <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Neue Seite erstellen">
            <%= link_to 'Bearbeiten', edit_admin_question_path, class: 'btn btn-default btn-sm' %>
        </div>


      </div>



      <div class="box-body">
        <% if @question.category.template == 'standard' || @question.category.template.blank? %>
          <%= render 'standard', question: @question %>
        <% elsif @question.category.template ==  'text' %>
          <%= render 'text', question: @question %>
        <% elsif @question.category.template ==  'figures' %>
        <%= render 'figures', question: @question %>
        <% end %>
      </div>
    </div>
  </div>
</div>
