<% content_for :content_header do %>
<section class="content-header">
  <h1>
    Kategory
    <small>
      <%= @category.name %></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_root_path do %>
      <i class="fa fa-dashboard"></i>
      Home - Dashboard
      <% end %>
    </li>
    <li class="active">
      <%= link_to admin_categories_path  do %>
      <i class="fa fa-file-text"></i>
      <span>Kategorien</span>
      <% end %>
    </li>
  </ol>
</section>
<% end %>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Alle Unterkategorien von
      <%= @category.name %></h3>
  </div>
  <div class="box-header">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><%=link_to 'Neue Unterkategorie anlegen', new_admin_category_path(scope: @category.scope, parent_id: @category.id ) %></li>
    </ul>
  </div>
  <div class="box-body">
    <% if @categories.any? %>
    <%= render 'categories', categories: @categories %>
  <% else %>
    <div class="box-body">

      <% if @category.scope == "questions" %>
        <%= form_for [:admin, @category] do |f| %>
          <%= f.label 'Vorlage für Fragen' %>
          <%= f.select :template, options_for_select(QuestionTemplateConfiguration.new.names, f.object.template),{include_blank: "Vorlage Auswählen"}, class: 'form-control' %><br />
          <%= f.submit 'Speichern' %>
        <% end %>
      <% end %>
      <div style="text-align:center">
        <br />
        Keine Unterkategorien vorhanden
      </div>
    </div>
    <% end %>
  </div>
</div>
