<!-- Sidebar Menu -->
<ul class="sidebar-menu">
  <li class="header">ADMINISTRATION</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="<%= is_active?("admin/dashboard") %>">
    <%= link_to admin_root_path  do %>
      <i class="fa fa-tachometer"></i>
      <span>Dashboard</span>
      <% end %>
  </li>
  <li class="<%= is_active?("admin/pages") %>">
    <%= link_to admin_pages_path  do %>
      <i class="fa fa-file-text"></i>
      <span>Seiten</span>
    <% end %>
  </li>
  <li class="<%= is_active?("admin/questions") %>">
    <%= link_to admin_questions_path  do %>
      <i class="fa fa-question"></i>
      <span>Fragen</span>
    <% end %>
  </li>
  <li class="<%= is_active?("admin/vouchers") %>">
    <a href="#">
      <i class="fa fa-ticket"></i>
      <span>Gutscheine</span>
    </a>
  </li>
  <li class="<%= is_active?("admin/course") %>">
    <a href="#">
      <i class="fa fa-book"></i>
      <span>Seminare</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-graduation-cap"></i>
      <span>Tests</span>
    </a>
  </li>
  <li class="<%= is_active?("admin/users") %>">
    <%= link_to admin_users_path  do %>
      <i class="fa fa-users"></i>
      <span>Benutzer</span>
      <% end %>
  </li>

  <li>
    <a href="#">
      <i class="fa fa-cart-plus"></i>
      <span>Bestellung</span>
    </a>
  </li>

  <li>
    <a href="<%= admin_categories_path %>">
      <i class="fa fa-cart-plus"></i>
      <span>Kategorien</span>
    </a>
  </li>

</ul>
<!-- /.sidebar-menu -->
